

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Productos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/saveProduct"><nav>
                  Crear Producto
</nav></a>
          <a class="dropdown-item" href="#"></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/listProducts"><nav>Listar Productos</nav></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/sellProducts"><nav>Realizar Compra</nav></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/geoMap"><nav>Geolocalización Google Maps</nav></a>
          
        </div>
      </li>
    </ul>
      
  </div>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>
